# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Python version
.python-version

# Dependency locks
uv.lock

# =========================
# Logs & temp
# =========================
*.log
*.tmp
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Database
# =========================
*.sqlite3

# =========================
# Build / dist
# =========================
build/
dist/
*.egg-info/

# =========================
# Node (for your frontend later)
# =========================
node_modules/